@using App.Components
@model App.Components.CategorySideBar.CategorySideBarData
@{
    int level=Model.level;
}
@* <h2> Noi dung component </h2> *@
@if(Model.Categories.Count>0)
{
     @if(level==0)
     {
        @Html.Raw("<div class=\"categorysidebar\">");
        <a asp-controller="ViewPost" asp-action="Index" asp-route-categoryslug="">
          <h3>Tất cả chuyên mục</h3>
        </a>
     }
    <ul>
    @foreach (var category in Model.Categories)
    {
        var cssActive=(category.Slug==Model.categoryslug)?"active":null;
        <li>
        <a class="@cssActive" asp-controller="ViewPost" asp-action="Index" asp-route-categoryslug="@category.Slug">
         @category.Title
        </a>

        @if(category.CategoryChildren?.Count>0)
        {
            @await Component.InvokeAsync("App.Components.CategorySideBar", new CategorySideBar.CategorySideBarData()
   {
            Categories=category.CategoryChildren.ToList(),
            level=level+1,
            categoryslug=ViewBag.categoryslug
   });
        }
        </li>
    }
    </ul>
     @if(level==0)
     {
        @Html.Raw("</div>");
     }
}